<nav class="navbar navbar-default" style="margin-bottom: 0px !important;background-color: #ebe9f9;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" (click)="goToAdminHome()" style="cursor: pointer;">Admin Panel</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a (click)="goToFlightList()" style="cursor: pointer;">Flights List</a>
      </li>
      <li>
        <a (click)="goToAddFlight()" style="cursor: pointer;">Add Flight</a>
      </li>
      <li>
        <a (click)="goToWaitingNotification()" style="cursor: pointer;">Waiting List Notification</a>
      </li>
    </ul>
  </div>
</nav>
<form name="form" (ngSubmit)="updateFlight(flightEditForm)" #flightEditForm="ngForm">
  <div class="col-md-12">
    <div class="col-md-6 col-md-offset-3" style="margin-top: 20px; padding: 18px;border-radius: 5px;border: 1px solid silver;background-color: #e0def5;">
      <input type="hidden" name="flightInput.ID" id="flightInput.ID" value="{{flightData.ID}}" [(ngModel)]="flightInput.ID" />
      <div class="form-group" style="margin-top: 15px;">
        <label for="flightno">Flight No</label>
        <input type="text" class="form-control" placeholder="Enter Flight Number" name="flightInput.FlightNo" id="flightInput.FlightNo" value="{{flightData.FlightNo}}" [(ngModel)]="flightInput.FlightNo">
      </div>
      <div class="form-group" style="margin-top: 15px;">
        <label for="startdate">Start Date</label>
        <input type="date" class="form-control" placeholder="Enter Start Date" name="flightInput.StartDate" id="flightInput.StartDate" value="{{flightData.StartDate}}" [(ngModel)]="flightInput.StartDate">
      </div>
      <div class="form-group" style="margin-top: 15px;">
        <label for="enddate">End Date</label>
        <input type="date" class="form-control" placeholder="Enter End Date" name="flightInput.EndDate" id="flightInput.EndDate" value="{{flightData.EndDate}}" [(ngModel)]="flightInput.EndDate">
      </div>
      <div class="form-group">
        <label for="passcapacity">Passenger Capacity</label>
        <input type="number" class="form-control" placeholder="Enter Passenger Capacity" name="flightInput.PassCapacity" id="flightInput.PassCapacity" value="{{flightData.PassCapacity}}" [(ngModel)]="flightInput.PassCapacity">
      </div>
      <div class="form-group">
        <label for="depcity">Departure City</label>
        <input type="text" class="form-control" placeholder="Enter Departure City" name="flightInput.DepartCity" id="flightInput.DepartCity" value="{{flightData.DepartCity}}" [(ngModel)]="flightInput.DepartCity">
      </div>
      <div class="form-group">
        <label for="arrcity">Arrival City</label>
        <input type="text" class="form-control" placeholder="Enter Arrival City" name="flightInput.ArrivalCity" id="flightInput.ArrivalCity" value="{{flightData.ArrivalCity}}" [(ngModel)]="flightInput.ArrivalCity">
      </div>
      <button class="btn btn-success">Update Flight</button>
      <button class="btn btn-warning" (click)="goToFlightList()" style="margin-left: 15px;">Cancel</button>
    </div>
  </div>
</form>
